<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-palette me-2"></i>
            Sanatçı Portföyü
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="fas fa-home me-1"></i> Ana Sayfa
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/hakkimda">
                        <i class="fas fa-user me-1"></i> Hakkımda
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/haberler">
                        <i class="fas fa-newspaper me-1"></i> Basından
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/eserler">
                        <i class="fas fa-images me-1"></i> Eserler
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/sergiler">
                        <i class="fas fa-calendar me-1"></i> Sergiler
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/yurtdisi">
                        <i class="fas fa-globe me-1"></i> Yurtdışından
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/atolye">
                        <i class="fas fa-tools me-1"></i> Atölye
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/iletisim">
                        <i class="fas fa-envelope me-1"></i> İletişim
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/sss">
                        <i class="fas fa-question-circle me-1"></i> S.S.S
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>